<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form action="answer" class="form-inline">
    <div>
      <label for="ask">Ask your coach anything:</label>
      <input type="text" id="ask" class="form-control" name="question">
      <input type="submit" class="btn btn-primary" value="Ask!">
    </div>
  </form>
</body>

